body{
    background-color: antiquewhite;
}

#log-section{
    position: relative;
    width: 100%;
}
#logger{
    padding: 1em;
    position: fixed;
    min-height: 70%;
    max-height: 75%;
    overflow: auto;
    min-width: 30%;

    
}