<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" >
    <title>Easy share home apge</title>
</head>
<body>
    <main class="container">       
        <div class="row">
            <section class="col-md-5 col-sm-12 my-5">
                <div id="log-section">
                    <div id="logger" class="bg-white rounded shadow">

                    </div>
                    
                </div>
            </section>


            <section class="col-md-7 col-sm-12 my-5">
                <div id="files-section" class="mb-2 p-2">
                    <header > 
                        <h4>Add  a File</h4>
                    </header>
                   
                    <input type="file" name="file" id="file"  form="main-form" accept=".tar,.zip,.rar,.gz" required>
                    <small id="fileHelp" class="form-text text-muted"> allowed file extension : .tar,.zip,.rar,.gz</small>
                </div>

                <div class="shadow rounded p-3" id="inputs-section">
                    <header>
                        <h4>Server Info</h4>
                    </header>
                    <form enctype="multipart/form-data" id="main-form" method="POST" >
                        <div id="form-rows">
                            <div class="form-row">
                                <header class="col-12">
                                    <h5>Server 1</h5>
                                </header>
                                
                              
                                <div class="form-group">
                                    <label for="hostname">server name</label>
                                    <input  id="hostname" name="hostname" class="form-control" type="text" placeholder="your server host here" required>
                                </div>

                                <div class="form-group">
                                    <label for="hostpassword">password</label>
                                    <input id="hostpassword" name="hostpassword" class="form-control" type="password" placeholder="your password here" required>
                                </div>
                                <div class="form-group">
                                    <label for="keypath">Shh key path </label>
                                    <input id="keypath" name="keypath" class="form-control" type="text" placeholder="your ssh key path here" required>
                                </div>
                                <div class="form-group">
                                    <label for="path">path</label>
                                    <input id="path" name="path" class="form-control" type="text" placeholder="file location in the server" required>
                                    <small id="pathHelp" class="form-text text-muted"> an example of a valide file  : path1/path2/path3  dont use "\" </small>
                                </div>
    
                                <hr></hr>
                            </div>
                        </div>
    
                        <button  type="button" id="clear-log"  class="btn btn-danger">Clear Log</button>
                        <button  
                        type="button"
                        class="btn btn-success" 
                        id="submite-connection" 
                        name="submite-connection">Connect</button>
    
                        <button class="btn btn-secondary" type="button" id="add-server" name="add-server">Add a server</button>
                        
                    </form>
                </div>
               
            </section>

           
        </div>
    </main>
    <script  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script  type="text/javascript"   src="{{ url_for('static', filename='js/index.js') }}"   defer></script>
</body>
</html>